[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# pandas = "~=2.2.3"
pandas = "*"
# datetime = "~=5.5"
# beautifulsoup4 = "~=4.13.4"
# matplotlib = "~=3.10.1"
matplotlib = "*"
lseg-data = "*"

[dev-packages]

[requires]
python_version = "3.13"
